:root { /* Global content */
    --site_color: ${site_color};
    --main_color: ${main_color};
    --deep_color: ${deep_color};
    --text_color: ${text_color};
    --half_color: ${half_color};
    --font_family: ${font_family};
    --border_radius: 5px;
    --dberror_display: ${dberror_display};
    --piwarning_display: ${piwarning_display};
}

body { /* Page content */
  background-color: var(--site_color);
  text-align:left;
  color: var(--text_color);
  font-family: var(--font_family);
  font-size: 100%;
}

input, textarea, select, button, checkbox  {
    font:inherit;
    color:inherit;
    background-color:var(--site_color);
}

input::placeholder {
    color:var(--half_color);
}

select { /* Элементы с выпадаюшим списком */
    width: 100%;
}

input:disabled, input[disabled], select:disabled, select[disabled]{
    color: var(--half_color);
    background-color: var(--deep_color);
}

.table { /* All tables */
    border: 0px;
    border-radius: var(--border_radius);
    border-spacing: 0px;
}

.table.parent { /* Tables with a frame */
    background-color: var(--deep_color);
    border-spacing: 5px;
    margin: 5px;
}

.table.parent.entry { /* Authorization table */
    margin: auto;
}

.table.parent.dberror { /* Таблица с описанием ощибки БД */
    display: var(--dberror_display);
}

.table.parent.piwarning { /* Таблица с описанием ощибки контролера */
    display: var(--piwarning_display);
    text-align:right;
}

.table.child { /* Таблицы в рамке */
    background-color: var(--site_color);
    border-spacing: 5px;
    padding: 0px;
    width: 100%;
}

.table.child.flot { /* Таблицы в рамке */
    background-color: var(--half_color);
    border: 1px solid var(--site_color);
    box-shadow:
       1px  1px 2px var(--site_color),
       1px -1px 2px var(--site_color),
      -1px -1px 2px var(--site_color),
      -1px  1px 2px var(--site_color);
}

.table.menu { /* Главное меню и строка состояния */
     background-color: var(--main_color);
     border-spacing: 0px;
     padding: 10px;
     width: 100%;
     margin: 0px;
}

.table.menu tr { /* Строка меню */
    padding: 0px;
    width: 0;
    white-space: nowrap;
}

.table.menu tr :last-child { /* Последний элемент строки меню */
   width: 100%;
}

.table.menu td { /* Элемент меню */
    border-radius: var(--border_radius);
    padding: 10px;
}

.table.tr.title { /* Строка таблицы с заголовком */
    border-radius: var(--border_radius);
    font-weight: bold;
    background-color: var(--deep_color);
}

button { /* Кнопки */
    font-weight: normal;
    border-radius: var(--border_radius);
    background-color: var(--deep_color);
    /*border: 1px solid var(--text_color);*/
    border: 0px solid var(--text_color);
    padding: 5px 13px 5px 13px;
    vertical-align: middle;
    box-shadow: 0px  0px 2px var(--text_color);
}

button img{
    vertical-align: bottom;
}

button:hover, button:focus {
    /*background-color: var(--main_color);*/
    box-shadow:
       1px  1px 1px var(--text_color),
       -1px  1px 1px var(--text_color),
       1px  -1px 1px var(--text_color),
       -1px  -1px 1px var(--text_color);
  color: var(--deep_color);
  text-shadow:
   1px  1px 2px var(--text_color),
   1px -1px 2px var(--text_color),
  -1px -1px 2px var(--text_color),
  -1px  1px 2px var(--text_color);
}

button:disabled, button[disabled] {
    color: var(--half_color);
    text-shadow: var(--half_color) 0px 0px 0px;
    box-shadow: 0px  0px 2px var(--text_color);
}

button:disabled img, button[disabled] img {
    filter: grayscale(80%);
    opacity: 0.2;
}

.jqis_dropdown{ /* language image select */
    position:absolute;
    overflow-x:hidden;
}

.jqis_dropdown img{ /* language image select */
    cursor:pointer;
    float:left;
}

a { /* link */
  text-decoration: none;
  color: var(--text_color);
}

a:hover {/* mouse over link */
  color: var(--deep_color);
  text-shadow:
   1px  1px 3px var(--text_color),
   1px -1px 3px var(--text_color),
  -1px -1px 3px var(--text_color),
  -1px  1px 3px var(--text_color);
}

