:root { /* Global content */
    --border-radius: 5px;
    --site_color: #${site_color};
    --main_color: #${main_color};
    --page_color: #${page_color};
    --text_color: #222222;
    --dberror_display: ${dberror_display};
    --piwarning_display: ${piwarning_display};
}

body { /* Page content */
  background-color: var(--site_color);
  text-align:left;
  /*
  font-family: Gill Sans, sans-serif;
  font-family: Marker Felt, fantasy;
  font-family: Arial, sans-serif;
  */
  font-family: Gill Sans, sans-serif;
}

input, textarea, select {
    font-family:inherit;
}


.table { /* All tables */
    border: 0px;
    border-radius: var(--border-radius);
    border-spacing: 0px;

}

.table.parent { /* Tables with a frame */
    background-color: var(--page_color);
    border-spacing: 5px;
    margin: 5px;
}

.table.parent.entry { /* Authorization table */
    margin: auto;
}

.table.parent.dberror { /* Таблица с описанием ощибки БД */
    display: var(--dberror_display);

}

.table.parent.piwarning { /* Таблица с описанием ощибки контролера */
    display: var(--piwarning_display);
    text-align:right;
}

.table.child { /* Таблицы в рамке */
    background-color: var(--site_color);
    border-spacing: 5px;
    padding: 0px;
    width: 100%;
}

.table.menu { /* Главное меню и строка состояния */
     background-color: var(--main_color);
     border-spacing: 0px;
     padding: 10px;
     width: 100%;
     margin: 0px;
}

.table.menu tr { /* Строка меню */
    padding: 0px;
    width: 0;
    white-space: nowrap;
}

.table.menu tr :last-child { /* Последний элемент строки меню */
   width: 100%;
}

.table.menu td { /* Элемент меню */
    border-radius: var(--border-radius);
    padding: 10px;
}

.table.tr.title { /* Строка таблицы с заголовком */
    border-radius: var(--border-radius);
    font-weight: bold;
    background-color: var(--page_color);
}

select { /* Элементы с выпадаюшим списком */
    width: 100%;
}

button { /* Кнопки */
    border-radius: var(--border-radius);
    background-color: var(--main_color);
    border: 1px solid var(--text_color);
    padding: 5px 13px 5px 13px;
    vertical-align: middle;
}

button img{
    vertical-align: bottom;
}

button:hover, button:focus {
    background-color: var(--page_color);
}


.jqis_dropdown{ /* language image select */
    position:absolute;
    overflow-x:hidden;
}

.jqis_dropdown img{ /* language image select */
    cursor:pointer;
    float:left;
}