:root {
    --border-radius: 5px;
    --site_bg_color: #${site_bg_color};
    --main_bg_color: #${main_bg_color};
    --page_bg_color: #${page_bg_color};
    --database_display: ${database_display};
}

body {
  background-color: var(--site_bg_color);
  text-align:left;
}

.table {
    border: 0px;
    border-radius: var(--border-radius);
    border-spacing: 0px;
}

.table.parent {
    background-color: var(--page_bg_color);
    border-spacing: 5px;
    margin: 5px;
}

.table.parent.entry {
    margin: auto;
}

.table.parent.database {
    display: var(--database_display);
}


.table.child {
    background-color: var(--site_bg_color);
    border-spacing: 5px;
    padding: 0px;
    width: 100%;
}

.table.menu {
     background-color: var(--main_bg_color);
     border-spacing: 0px;
     padding: 10px;
     width: 100%;
     margin: 0px;
}

.table.menu td {
    border-radius: var(--border-radius);
    padding: 10px;
}
.table.menu tr {
    padding: 0px;
    width: 0;
    white-space: nowrap;
}

.table.menu tr :last-child {
  width: 100%;
}

select {
    width: 100%;
}